{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
    <h1>Homepage</h1>
    <form class="form-inline mt-2 mt-md-0" action="{% url 'search_results' %}" method="GET">
        <input class="form-control mr-sm-2" placeholder="Search" type="text" name="q" aria-label="Search">
    </form>
    <img class="bookcover" src="{% static 'images/dfp.png' %}" alt="">
    {% if user.is_authenticated %}
        <p>Hi {{ user.email }}</p>
        <p><a href="{% url 'account_logout' %}">Log Out</a></p>
    {% else %}
        <p>You are not logged in </p>
        <a href="{% url 'account_login' %}">Log In</a>
        <a href="{% url 'account_signup' %}">Sign Up</a>
    {% endif %}
{% endblock content %}